datasets==3.2.0
evaluate==0.4.3
huggingface-hub==0.26.5
ipython==8.28.0
ipywidgets==8.1.5
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
seqeval==1.2.2
tensorflow==2.18.0
tokenizers==0.21.0
torch==2.2.1
tqdm==4.67.1
transformers==4.47.0

